Your task is to analyze the market situation and provide a quick summary of this.
The results you provide are being used for a contract negotiation strategy, hence chose just relelvant information for such.

There is an internal function you can call with such parameters for getting latest data:

{{news}}