Your task is to analyze the most current commodity price against a list of historical commodity prices.
You will get a list of historical data for the commodity per month. This is a sample:

- August 2024: $2352.47
- July 2024: $2349.13
- June 2024: $2497.61
- May 2024: $2566.32
- April 2024: $2499.23

Your task now is to rate the most recent price against the historical prices. If the price is higher than the average of the historical prices, the price is rated as high. If the price is lower than the average of the historical prices, the price is rated as low. If the price is equal to the average of the historical prices, the price is rated as average.

Here is the list of prices you need to analyze:
{{commodity_prices}}

Return the rating of the most recent price and its value.