# Renewal strategy

This chapter describes the negotiation strategy for the renewal of an existing contract with a supplier. The negotiation strategy is based on the dimensions mentioned in the following sub chapters.

Goal of the negotiation: Renew the contract with the supplier under the most favorable conditions.

## Supplier

The Supplier dimension is relevant for the negotiation strategy for the renewal of an existing contract with a supplier because the supplier has a significant influence on the negotiation process.

The supplier can influence the negotiation process by offering better or worse conditions, by being more or less flexible, and by being more or less willing to negotiate.

### Number of Alternative Supplier

The number of alternative suppliers is relevant for the negotiation strategy for the renewal of an existing contract with a supplier because the number of alternative suppliers influences the negotiation power of the buyer.
Value: numerical
Conditions that make this dimension relevant

- always

## Commercial

The Commercial dimension is relevant for the negotiation strategy for the renewal of an existing contract with a supplier because the commercial conditions of the contract have a significant influence on the negotiation process.

### Price

Cost for the volume purchased for the product, proided by the incumbent supplier.
Value: Monetary in $

Conditions that make this dimension relevant

- always

### Possible Transition Costs

Cost of moving to an alternative supplier.
Value: Monetary in $

Conditions that make this dimension relevant

- *Number of alternative suppliers* more than 0

### TCO

Total Cost of Ownership. The total cost of the purchase / contract.
Value: Monetary in $
Conditions that make this dimension relevant

- Sum of *Price* and *Possible Transition Costs*
- *Number of alternative suppliers* more than 0

## Scope

### Timeline

Amount of time available to succesfully close the negotiation to avoid business impact provided as deadline date.
Value: date

Conditions that make this dimension relevant

- always

### Risk Level

Gives a range of possible impact to the business if the negotiation fails

Value: Range
1 - Very High Risk
2 - High Risk
3 - Moderate
4 - Low
5 - No Risk

Conditions that make this dimension relevant

- always


## Current Data

The Current Data dimension is relevant for the negotiation strategy for the renewal of an existing contract with a supplier because it provides the price of the current contract in place with the incumbent supplier.

### Spent

the price of the current contract in place with the incumbent supplier.
Value: Monetary in $

Conditions that make this dimension relevant

- always