# Rules for renewal negotiation strategy

- Number of Alternative Supplier: higher value means increased negotiation power. Lower value means decreased negotiation power.
- Negotiation style will be distributive beacuse of the limitied set of variables available to negotiate
- The only possible negotiation item is Price.
- Information symetry: if the buyer is in the disadvantage, closing the deal later will give time to gather more information. If the buyer is in the advantage, closing the deal faster is preferable with a limited time line