If a negotation strategy playbook is executed, the following rules are required:
Rules for the negotiation strategy:

Number of Alternative Supplier: higher value means increased negotiation power. Lower value means decreased negotiation power.
Negotiation style will be distributive because of the limited set of variables available to negotiate
The only possible negotiation item is Price.
The main negotiation issue is the price increase of 10% versus Spend requested by supplier.
Ensure price increase accepted is not higher than 8% versus contract spend.
Information symmetry: if the buyer is in the disadvantage, closing the deal later will give time to gather more information. If the buyer is in the advantage, closing the deal faster is preferable with a limited time line
If a price protection exists in the contract, risk of cost increase is low during contract term.
Goal of the negotiation for the customer is to extend the contract term to 3 years and use this to secure a good price (no more than 8% price increase)